.image_bg{
      background: #ddd;
}
.icon_btn a{
      color: black;
      text-decoration: none;
}
.icon{
      height: 30px;
}
.card_border{
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}








